<div class="chatbot-container">
  <!-- Panel lateral izquierdo (menu) -->
  <app-hub></app-hub> 

<!--Chat-->

  <div class="chat-placeholder">
    <h2 class="chat-title" *ngIf="showTitle">
      ¿Que analizaremos hoy?
    </h2>

    <div
      class="chat-input-box"
      [class.moved-down]="movedDown"
      [ngStyle]="{ 'bottom.px': movedDown ? offset : 40 }"
    >
      <input
        type="text"
        placeholder="Agregue su imagen..."
        class="chat-input"
        #messageInput
        disabled
      />

      <div class="chat-actions">
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          hidden
          accept="image/*"
        />
        <button class="attach-btn" (click)="fileInput.click()">📎</button>
        <button class="send-btn" (click)="sendMessage()">➤</button>
      </div>
    </div>

    <!-- Previsualización -->
    <div class="preview-container" *ngIf="previewImage">
      <img [src]="previewImage" alt="Previsualización" class="preview-image" />
    </div>


    <div *ngIf="responseMessage" class="response-box">
      {{ responseMessage }}
    </div>

  </div>

<!-- Zona de mensajes -->
<div class="messages-container" *ngIf="messages.length > 0">
  <div class="messages">
    <div
      class="message"
      *ngFor="let msg of messages"
      [ngClass]="{ 'sent': msg.type === 'sent', 'received': msg.type === 'received' }"
    >
      <div class="message-content">
        <ng-container *ngIf="msg.isImage; else textMsg">
          <img [src]="msg.content" alt="Imagen enviada" class="chat-image" />
        </ng-container>
        <ng-template #textMsg>
          <p>{{ msg.content }}</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>

</div>

